<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.whotsapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/whotsapp_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/whotsapp_logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhotsApp">
        <activity
            android:name=".view.activities.status.AddStatusPicActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.display.ReviewSendImageActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.profile.UserProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.chats.ChatsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.contact.ContactsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.display.ViewImageActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.auth.SetUserInfoActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.auth.PhoneLoginActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.startup.WelcomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".view.activities.startup.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MainActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>